services:
  db:
    image: postgres:16.9-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 3s
      retries: 3
      start_period: 3s

  app:
    image: ghcr.io/${IMAGE_REPO:-k0ber/ptfbackend}:${IMAGE_TAG:-latest}
    container_name: ptf_app
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

    environment:
      # --- DB CONFIGURATION ---
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

      # --- JWT CONFIGURATION ---
      JWT_SECRET: ${JWT_SECRET}
      JWT_REALM: ${JWT_REALM}
      JWT_EXPIRATION_MS: ${JWT_EXPIRATION_MS}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_AUDIENCE: ${JWT_AUDIENCE}

    restart: unless-stopped

volumes:
  postgres_data: