services:
  db:
    image: postgres:16.9-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend_internal
    restart: unless-stopped

  app:
    image: ghcr.io/${IMAGE_REPO}:${IMAGE_TAG:-latest}
    container_name: ptf_app
    depends_on:
      db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      # Domain
      - "traefik.http.routers.ptf-app.rule=Host(`api.patifiner.ru`)"
      - "traefik.http.routers.ptf-app.entrypoints=websecure"
      - "traefik.http.routers.ptf-app.tls.certresolver=myresolver"
      # Ktor port
      - "traefik.http.services.ptf-app.loadbalancer.server.port=8080"
    environment:
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_AUDIENCE: ${JWT_AUDIENCE}
      JWT_REALM: ${JWT_REALM}
      JWT_EXPIRATION_MS: ${JWT_EXPIRATION_MS}
      UPLOAD_PATH: "/app/uploads"
      UPLOAD_BASE_URL: "https://api.patifiner.ru/files"
    volumes:
      - "./uploads:/app/uploads"
    networks:
      - web
      - backend_internal
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  web:
    external: true
  backend_internal: